* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  background-color: black;
  color: white;
  height: 1000px;
}

#mainpage {
  justify-content: center;
  align-items: center;
  width: 91%;
  margin: 0 auto;
}

#title-title {
  font-size: 38px;
  font-weight: 700;
}

#title-menu {
  display: flex;
  border-bottom: 1px solid #1a1a1a;
  color: #999999;
}

#title-menu div {
  padding: 50px 15px 15px 0;
  cursor: pointer;
}

.Titlemenu {
  color: white;
  font-weight: 900;
}

#movetoplaylist a,
#movetoadded a {
  text-decoration: none;
  color: #999999;
}

#list-board {
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

#add-playlist {
  cursor: pointer;
}

.addplaylist-div img {
  padding-bottom: 5px;
}

.list-post,
.addedlist-post {
  width: 13.5%;
  padding-bottom: 45px;
  position: relative;
}
.flex-item {
  width: 50%;
}
/* .list-post:first-child,
.addedlist-post:first-child {
  margin: 0;
} */
.list-post:nth-child(n + 1),
.addedlist-post:nth-child(n + 1) {
  margin: 5px;
}
.list-click,
.addedlist-click {
  cursor: pointer;
}

.addedlist-img,
.list-img {
  width: 200px;
  height: 200px;
}

/* 반응형 일정 너비 이하가 되면 마진px이 줄어드는거 확인 */
.list-img img,
.addedlist-img img {
  width: 100%;
  height: 100%;
  /* object-fit: inherit; */
  padding-bottom: 5px;
}

.list-title {
  padding-bottom: 5px;
}

.list-title:hover {
  text-decoration: underline;
}

.list-contents {
  color: black;
  font-size: 15px;
}

.list-contents-imsi {
  color: #000000;
  font-size: 15px;
}

.list-hidden {
  position: absolute;
  top: 50%;
  width: 100%;
  opacity: 0;
}

.list-hidden img {
  width: 30px;
  height: 30px;
}

.list-img:hover .list-hidden {
  opacity: 1;
}

.icon-box {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 15px;
  right: 10px;
}

#mordal-root {
  width: 500px;
  background-color: #222222;
  border-radius: 5px;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 120px;
  bottom: 120px;
  display: block;
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  box-shadow: 0 0 100px 1000px rgba(0, 0, 0, 0.8);
}

#mordal-root.on {
  display: none;
}

#mordal-title {
  color: white;
  font-size: 24px;
  font-weight: 900;
  padding: 40px;
  text-align: center;
}

.addedlist-contents {
  color: #999999;
}

#mordal-list-album {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

#mordal-list-album img {
  width: 132px;
  height: 132px;
}

#mordal-list-title,
#mordal-list-contents {
  display: flex;
  justify-content: center;
}

#mordal-input-title,
#mordal-input-contents {
  border: none;
  border-radius: 5px;
  width: 90%;
  background-color: #2a2a2a;
  padding: 10px;
  margin-bottom: 15px;
  text-align: left;
  color: white;
  resize: none;
}

#mordal-input-title {
  height: 46px;
}

#mordal-input-contents {
  height: 76px;
}

#mordal-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

#mordal-cancle-btn {
  cursor: pointer;
}

#mordal-cancle-btn,
#mordal-add-btn {
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 132px;
  height: 46px;
  background-color: #2a2a2a;
}

#mordal-cancle-btn {
  color: white;
}
#mordal-add-btn {
  color: #444444;
}

#mordal-add-btn.on {
  background-color: #ff0050;
  color: white;
  cursor: pointer;
}
