body {
  min-height: -webkit-fill-available;
  background-color: black;
  color: white;
}
html {
  height: -webkit-fill-available;
}
main {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}
main > div {
  width: 100%;
}
main .text-bg-dark {
  background-color: black !important;
}
main ul li:nth-child(9),
main ul li:nth-child(11) {
  margin-top: 50px;
}
.main-body-container {
  display: inline-block;
}
.d-flex {
  display: inline-flex !important;
  padding-bottom: 15px;
}
.main-body-container {
  margin-left: 15%;
  width: 85%;
  margin-bottom: 56px;
}
.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: black !important;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.footer .container {
  text-align: center;
  width: 33%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container div {
  padding: 0 10px;
}

.footer .container button {
  background-color: transparent;
  margin: 0 10px;
}
.footer .container img {
  width: 40px;
  filter: invert(70%);
}
.footer .container:first-child > div img {
  filter: none;
}
.footer .container:last-child img {
  width: 25px;
  padding-bottom: 10px;
}
.footer .container {
  text-align: center;
  width: 33%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container div {
  padding: 0 10px;
}

.footer .container button {
  background-color: transparent;
  margin: 0 10px;
}
.footer .container img {
  width: 40px;
  filter: invert(70%);
}

.footer .container:last-child img {
  width: 25px;
  padding-bottom: 10px;
}
.footer .text-muted {
  color: white;
}

.dotdotdot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 900px;
  margin-bottom: 5px;
  white-space: normal;
  line-height: 24px;
  height: 48px;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.login-box {
  margin: 15% 0;
}
.img-box {
  padding-top: 50px;
  width: 92%;
  margin: auto;
  cursor: pointer;
}
.img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background: linear-gradient(gray, black 50%, gray 100%);
}

.img-item img {
  width: 482px;
  height: 336px;
}
.text-item {
  width: 69%;
  padding: 45px;
}

.title-div {
  padding: 20px 0;
}
.title-div:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

.genre-btn {
  border-radius: 20px;
  width: 80px;
  background-color: #746edf;
  border: none;
  color: white;
  font-weight: 800;
  font-size: 1rem;
}
.b-title {
  font-size: 2.8rem;
  line-height: 3.2rem;
}
.news-box {
  padding-top: 30px;
  width: 93%;
  margin: auto;
}
.news-title {
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: 900;
}
.news-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.news-item {
  width: 25%;
  padding: 10px;
  margin-bottom: 20px;
}
.news-item img {
  width: 100%;
  cursor: pointer;
}
.news-item-body {
  font-size: 1rem;
}
.news-item-body:hover {
  text-decoration: underline;
  cursor: pointer;
}
.news-item a {
  text-decoration: none;
  color: gray;
  font-size: 0.85rem;
}

.magazinedate {
  color: gray;
  font-size: 0.85rem;
}
.news-item a:visited {
  text-decoration: none;
}
.form-select {
  display: inline-block;
  width: fit-content;
}
.upload-box {
  padding: 25px;
}
.upload-area div {
  padding: 5px 0 5px 5px;
}

.upload-title {
  font-size: 2rem;
  border-bottom: 2px solid white;
}
.upload-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.upload-body > div {
  width: 50%;
}
.upload-body div div {
  width: 120px;
  display: inline-block;
  text-align: end;
  font-size: 1.2rem;
}
.upload-footer {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
.upload-footer input {
  margin: 10px;
}
.footer-box {
  background-color: #111;
  padding: 20px 15px 30px 50px;
  width: 83%;
  position: absolute;
  bottom: 9%;
  left: 15%;
}
.footer-area {
  font-size: 0.7rem;
  color: gray;
}
.footer-area > div:last-child a {
  text-decoration: none;
  color: gray;
}
.footer-area > div:last-child a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer-first {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 0.5px solid gray;
}
.first-item:first-child {
  width: 5%;
}
.first-item:nth-child(2) {
  width: 85%;
}
.first-item:last-child {
  width: 10%;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.img-container-item {
  width: 100%;
  padding: 0 5px;
  cursor: pointer;
}
.img-container img {
  width: 25px;
  height: 25px;
  filter: invert(30%);
}
.footer-second {
  padding: 10px 0;
}
.footer-second span,
.footer-third a {
  margin-right: 10px;
}
.logout-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
}
.logout-box img {
  filter: invert(70%);
}
#logout-btn {
  border-radius: 5px;
  background-color: gray;
  color: white;
  padding: 5px 10px;
  font-size: 0.7rem;
}
#logout-btn:hover {
  background-color: #ff0050;
  color: white;
}

.nav {
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
}
ul img {
  filter: invert(90%);
}

.carousel-item img {
  max-height: 285px;
  width: 285px;
}

.displayFlex {
  display: flex;
}

.gift {
  width: 92%;
  background-color: rebeccapurple;
  margin: auto;
}
